spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/acquirer_db
    username: acquirer_user
    password: acquirer_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false

logging:
  level:
    root: INFO
    com.acquirer: INFO
